@import url('https://fonts.googleapis.com/css?family=Satisfy');
body{
    background-color: rgb(82, 67, 232);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100px 100px; 
}